<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="~{home :: bootstrap}"></span>
    <title>Ajouter une recette</title>
</head>
<body>
<div class="container">
    <h1 class="h1">Ajouter une catégorie</h1>
    <form method="post" th:action="@{/addcategory}" th:object="${category}" class="mb-3">
        <div>
            <label for="name" class="form-label">Nom :</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" >
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>
        <div>
            <label for="description" class="form-label">Description :</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" >
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
        </div>
        <button class="btn btn-primary">Ajouter</button>
    </form>
</div>

</body>
</html>