<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="~{home :: bootstrap}"></span>
    <title>Catégorie</title>
</head>
<body>
<div class="container">
    <div th:if="${category != null}">
        <h1 class="h1"><span th:text="${category.getName()}"/></h1>
        <p th:text="${category.getDescription()}"></p>

        <a th:href="@{/categories/delete/{id}(id = ${category.getId()})}"><div class="btn btn-danger">Supprimer la catégorie</div></a>
        <a th:href="@{/update/{id}(id = ${category.getId()})}"><div class="btn btn-warning">Modifier la catégorie</div></a>
        <a th:href="@{/}"><div class="btn btn-primary">Accueil</div></a>

    </div>



</div>
</body>
</html>